:root {
  --background: #480ca8;
  --foreground: #f9f8f8;
  --content-bg: #000;
  --green: green;

  --white: #F3F3F3;
  --brown: #250001;
  --rosewood: #590004;
  --rosewood-rgb: 89, 0, 4;
  --candy-apple-red: #A50104;
  --yellow: #FCBA04;
}

@font-face {
  font-family: 'Norican-Regular';
  src: url(../fonts/Norican-Regular.ttf);
}

body {
  
  margin: 0;
  background-color: var(--background);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* .janezomgzomg {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--white);
} */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header {

  padding: 0 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header h1 {
  font-family: 'Norican-Regular';
  color: var(--foreground);
  font-size: 2.5em;
}
header ul li {
  cursor: pointer;
}

#game {
  background-color: var(--content-bg);
  display: flex;
  flex: 1;
  justify-content: center;
  padding-top: 10vh;
}
#screen {
  height: 50vh;
  width: 50vw;
  border: var(--green) solid 5px;
}



/* body */
/* .zomg-body {
  height: calc(100% - 135px);
  padding: 16px;
}
.zomg-section {
  display: none;
}
.zomg-section.selected {
  display: block;
}

.zomg-section .section-part {
  display: flex;
  flex-direction: column;
}
.zomg-section .section-part .h2-label {
  text-decoration: underline;
  text-decoration-color: var(--candy-apple-red);
  margin: 0;
}
.zomg-section .section-part .h3-subtitle {
  margin: 0;
  color: var(--candy-apple-red);
}
.zomg-section .section-part .section-part-segment {
  padding: 0 8px;
    margin: 0 0 16px;
} */